{% extends 'master.html' %}

{% block title %}
    <title>ForgotPassword Page</title>
{% endblock %}

{% block body_block %}
    <center>
        <form method="POST">
            {% csrf_token %}
            <div class='container'>
                <div class="jumbotron"><br>
                    <h1><u>Forgot Password</u></h1>
                    <!-- <label for="username">Username:-</label>
                    <input type="text" name="username" id="username"><br><br> -->
                    <label for="email">Enter Email-Id:-</label>
                    <input type="email" name="email" id="email"><br><br>
                    <label for="newpw">Enter Password:-</label>
                    <input type="password" name="newpw" id="newpw"><br><br>
                    <input type="submit" class="btn btn-success btn-md text-warning" value="Confirm">
                </div>
            </div>
        </form>
    </center>
{% endblock %}