{% extends 'master.html' %}

{% block title %}
    <title>Profile Page</title>
{% endblock %}

{% block body_block %}
    <center>
        <div class='container'>
            <div class="jumbotron"><br>
                <h1><u>Profile Information</u></h1><br>
                <h2>User Name :- <b>{{user.username}}</b></h2>
                <h2>User Email-Id :- <b>{{user.email}}</b></h2>
                <h2>User Address :- <b>{{profile.address}}</b></h2>
                <img src="{{profile.profile_pic.url}}" alt="Image" width="300px" height="300px">
            </div>
        </div>
    </center>
{% endblock %}