{% extends 'master.html' %}

{% block title %}
    <title>Registration Page</title>
{% endblock %}

{% block body_block %}
    <center>
        <div class='container'>
            <div class="jumbotron">
                <br>
                <h1><u>Registration Page</u></h1><br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                        {{uf.as_p}}
                        {{pf.as_p}}

                    <input type="submit" class="btn btn-success btn-md text-warning" value="Register">
                </form>
            </div>
        </div>
    </center>
{% endblock %}
