{% extends 'master.html' %}

{% block title %}
    <title>Login Page</title>
{% endblock %}

{% block body_block %}
    <center>
        <form method="POST">
            <div class='container'>
                <div class="jumbotron">
                    <h1><u>Login Page</u></h1><br>
                    {% csrf_token %}
                    <label for="username">Username:-</label>
                    <input type="text" name="username" id="username"><br><br>
                    <label for="password">Password:-</label>
                    <input type="password" name="password" id="password"><br><br>
                    <input type="submit" class="btn btn-success btn-md text-warning" value="Login-In">
                </div>
            </div>
        </form>
    </center>
{% endblock %}